body {
  background: linear-gradient(to bottom, #e8f5fe, #81c9fa);
  min-height: 100vh;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    position: relative;
}

#m1 {
    padding: 4em;
    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: 50pt;
    color: #020998;
    top: 0;
    float: center;
    border: 0 none;
    border-radius: 3px;
    padding: 20px;
    margin: 2%;
    position: relative;
  }

  #m2 {
    font-family: Raleway, sans-serif; 
    text-align: center;
    font-size: 18pt;
    border-radius: 30px;
    border: 2px solid #020998;
    background-color: #81c9fa;
    padding: 20px;
    width: 270px;
    height: 27px;
    margin-left: 35px;
  }

  #m3 {
    font-family: Raleway, sans-serif;
    font-size: 15pt;
    margin-left: 35px; 
    margin-top: 0;
    margin-bottom: 5px;
  }

  #a4 {
    font-family: Raleway, sans-serif; 
    text-align: center;
    font-size: 18pt;
    border-radius: 30px;
    border: 2px solid #020998;
    background-color: #81c9fa;
    padding: 20px;
    width: 270px;
    height: 27px;
  }

  .container {
    display: flex; 
    align-items: flex-start;
  }

  img {
    border-radius: 8px;
    object-position: left;
    height: 400px;
    margin-left: 25px;
    margin-top: 0%;
  }

  .content {
    margin-left: 70px; 
}
  #hoverText {
    display: none;
}

  span {
    font-family: Raleway, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    position: absolute;
    margin-left: 1000px;
    margin-top: 0px;
  }

  #output {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    list-style-position: inside;
    font-size: 15pt;
    margin-left: 30px;
    top: 250px;
    right: 100px;
    
  }

